<a href="https://colab.research.google.com/github/mattematica/pds_python/blob/main/Unit1_Let's_Find_out_about_Us.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction
In this activatity we will explore the data that you created from your class survey. For categorical data, we will summarize using `.value_counts()` and for numeric data we will look at `.mean()`, `.median()` and `.describe()`.

# Code

We will always start by importing the `pandas`, `numpy` and `seaborn` libraries. These will give Python the access to all of the functions that we will use. Every notebook will begin with the same block.

In [1]:
import pandas as pd;
import seaborn as sb; 
import numpy as np;

Next we will import the data using the `.read_csv()` command. For example, 


```
myData = pd.read_csv("/content/drive/MyDrive/2022/Fall/Math 200/Data/s20-survey.csv")
```

imports older survey data from my google drive. I have shared our class' data for you (Make sure to mount your google drive each time to make the data avaiable.)

In [3]:
myData = pd.read_csv("/content/drive/MyDrive/2022/Fall/Math 200/Data/s20-survey.csv")

After you first import your data it is helpful to look at only a few responses to get a sense for what is contained in the data. We can do this using the `.head()` function. The command below looks at the first 7 responses of for my spring 2020 survey data.

In [7]:
myData.head(7)

,gender,hcolor,ecolor,baseball,football,distance,city,time_commute,work,love_stats,m190,cig,mj,height,weight
0,Male,Black,brown,Giants,49ers,3.5,Redwood City,15.0,10-19 hours,No,No,No,Yes,71.0,170.0
1,Male,Black,brown,Giants,49ers,15.0,Redwood City,22.0,40+ hours,Yes,No,No,Yes,75.0,210.0
2,Female,Black,brown,Giants,49ers,11.1,East Palo Alto,26.0,10-19 hours,No,No,No,No,60.0,140.0
3,Female,Brown,hazel,Giants,Raiders,7.0,East Palo Alto,60.0,0-9 hours,No,No,No,No,64.0,146.0
4,Male,Brown,brown,Giants,49ers,1.0,Woodside,6.0,0-9 hours,No,No,Yes,Yes,72.0,145.0
5,Female,Brown,brown,Giants,49ers,22.0,Santa Clara,35.0,10-19 hours,No,No,No,Yes,60.0,130.0
6,Female,Brown,brown,Giants,Raiders,18.0,Half Moon Bay,30.0,10-19 hours,No,No,No,Yes,5.2,120.0

`.value_counts()` is the function that takes the responses for a particular variable and coutnts the number of resposes for each. This is particularly useful when dealing with categorical variables. Below I am taking the "hair color" variable and summarizing the responses.

In [12]:
myData["hcolor"].value_counts()

Brown     38
Black     37
Blonde     6
Red        1
Name: hcolor, dtype: int64

If we would like to look at the relative frequency of each response, we pass the `normalize=True` argument to the `.value_counts()` command. The relative frequency is the proportion of the responses that are in each category.

In [13]:
myData["hcolor"].value_counts(normalize=True)

Brown     0.463415
Black     0.451220
Blonde    0.073171
Red       0.012195
Name: hcolor, dtype: float64

We can make these proportions into percentages by multiplying by 100.

In [14]:
myData["hcolor"].value_counts(normalize=True)*100

Brown     46.341463
Black     45.121951
Blonde     7.317073
Red        1.219512
Name: hcolor, dtype: float64

Note that this just moves the decimal place two places to the right. As you get more comfortable, this will become a natural conversion.

`.describe()` is a function that tries to create a numeric summary of the variable. For categoric variables, it gives you the sample size, how many different unique responses there are and what is the most frequently occuring response.

In [9]:
myData["hcolor"].describe()

count        82
unique        4
top       Brown
freq         38
Name: hcolor, dtype: object

For a numeric variable, we can find the average distance by using the `.mean()` command.

In [10]:
myData["distance"].mean()

12.028048780487808

The `.describe()` command for numeric variables, we get a lot of different numerical summaries. Including the sample size, the mean, and the five number summary. Each of which, we will discuss further later on.

In [11]:
myData["distance"].describe()

count    82.000000
mean     12.028049
std       9.894883
min       1.000000
25%       5.425000
50%      10.000000
75%      15.000000
max      70.000000
Name: distance, dtype: float64

Now take what we have seen some basic code, create a new notebook and answer the questions in our worksheet using the data from our survey!